---
import qs from "qs";
import { Image } from "astro:assets";
import section8SubHeadingLogo1 from "../assets/section8SubHeadingLogo1.svg";
import section8SubHeadingLogo2 from "../assets/section8SubHeadingLogo2.svg";
import section8SubHeadingLogo3 from "../assets/section8SubHeadingLogo3.svg";
import section8SubHeadingLogo4 from "../assets/section8SubHeadingLogo4.svg";
const homePageQuery = qs.stringify(
    {
        populate: {
            section8Details: {
                populate: "*",
            },
        },
    },
    { encodeValuesOnly: true },
);

async function getStrapiData(path: string) {
    const BASE_URL = import.meta.env.PUBLIC_BACKEND_URL;
    const url = new URL(path, BASE_URL);
    url.search = homePageQuery;

    try {
        const res = await fetch(url.href);
        const json = await res.json();
        return json.data;
    } catch (error) {
        console.error("Strapi fetch error:", error);
    }
}

const data = await getStrapiData("/api/home-page");
const section8Details = data?.section8Details?.find(
    (b: any) => b.__component === "layout.section8-details",
);
---

<section class="section8Details">
    <h2 class="section8-title">
        The <span class="section8-highlight">Coach</span> Advantage
    </h2>
    
    <div class="section8-wrapper">
        <div class="section8-row">
            <div>
                <Image
                    alt=""
                    src={section8SubHeadingLogo1}
                    class="section8-icon"
                />
            </div>

            <div class="section8-textbox">
                <h3 class="section8-subheading">
                    {section8Details?.section8SubHeading1}
                </h3>
                <p class="section8-paragraph">
                    {section8Details?.section8SubPara1}
                </p>
            </div>
        </div>

        <div class="section8-row">
            <div>
                <Image
                    alt=""
                    src={section8SubHeadingLogo2}
                    class="section8-icon"
                />
            </div>
            <div class="section8-textbox">
                <h3 class="section8-subheading">
                    {section8Details?.section8SubHeading2}
                </h3>
                <p class="section8-paragraph">
                    {section8Details?.section8SubPara2}
                </p>
            </div>
        </div>

        <div class="section8-row">
            <div>
                <Image
                    alt=""
                    src={section8SubHeadingLogo3}
                    class="section8-icon"
                />
            </div>
            <div class="section8-textbox">
                <h3 class="section8-subheading">
                    {section8Details?.section8SubHeading3}
                </h3>
                <p class="section8-paragraph">
                    {section8Details?.section8SubPara3}
                </p>
            </div>
        </div>

        <div class="section8-row">
            <div>
                <Image
                    alt=""
                    src={section8SubHeadingLogo4}
                    class="section8-icon"
                />
            </div>
            <div class="section8-textbox">
                <h3 class="section8-subheading">
                    {section8Details?.section8SubHeading4}
                </h3>
                <p class="section8-paragraph">
                    {section8Details?.section8SubPara4}
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    .section8-wrapper {
        background-color: rgb(255, 255, 255);
        padding: 0px 16px 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section8-title {
        text-align: center;
        font-size: 36px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        font-family: Inter, sans-serif;
        font-style: normal;
        line-height: normal;
    }

    .section8-highlight {
        color: rgb(33, 131, 237);
    }

    .section8-row {
        display: flex;
        flex-direction: row;
        max-width: 809px;
        min-width: 809px;
        width: 100%;
        padding: 0px;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
        gap: 27px;
    }

    .section8-icon {
        width: 32px;
        height: 32px;
    }

    .section8-textbox {
        width: 100%;
    }

    .section8-subheading {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 16px;
    }

    .section8-paragraph {
        color: rgb(63, 63, 63);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin: 0px;
    }
</style>
